<div class="form-group mb-3">
    <label for="title">
        Title
    </label>
    <input id="title" type="text" name="title" class="form-control" required>
</div>
<div class="form-group mb-3">
    <label for="description">
        Description
    </label>
    <textarea id="description" name="description" class="form-control" required>
    </textarea>
</div>
<div class="form-group mb-3">
    <label for="markdown">
        Markdown
    </label>
    <textarea id="markdown" name="markdown" class="form-control" required>
    </textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>